{% extends 'base.html' %}
{% load static %}
{% block content %}

<a href= {% url 'ProfileCreate' %}><button>To Profile</button></a>
<br>
<h2>Please check back frequently for new selection options!</h2>
<br>
<h4>Please select one from each catagory:</h4>
<br>
<form action="{% url 'Recipe' %}" method="POST">
{% csrf_token %}
<p>Main dish:</p>
<div class="form-check">
  <input class="form-check-input" type="radio" value="beef" name="main" id="defaultCheck1" required>
  <label class="form-check-label" for="defaultCheck1" autocomplete="off">
    Beef
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" value="chicken" name="main" id="defaultCheck2">
  <label class="form-check-label" for="defaultCheck2" autocomplete="off">
    Chicken
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" value="tofu" name="main" id="defaultCheck3">
  <label class="form-check-label" for="defaultCheck3" autocomplete="off">
    Tofu
  </label>
</div>
<br>
<p>Side dish:</p>
<div class="form-check">
  <input class="form-check-input" type="radio" value="beans" name="side" id="defaultCheck4" required>
  <label class="form-check-label" for="defaultCheck4" autocomplete="off">
    Beans
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" value="carrots" name="side" id="defaultCheck5">
  <label class="form-check-label" for="defaultCheck5" autocomplete="off">
    Carrots
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" value="kale" name="side" id="defaultCheck6">
  <label class="form-check-label" for="defaultCheck6" autocomplete="off">
    Kale
  </label>
</div>
<br>
<p>Extras:</p>
<div class="form-check">
  <input class="form-check-input" type="radio" value="pasta" name="extras" id="defaultCheck7" required>
  <label class="form-check-label" for="defaultCheck7" autocomplete="off">
    Pasta
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" value="eggs" name="extras" id="defaultCheck8">
  <label class="form-check-label" for="defaultCheck8" autocomplete="off">
    Eggs
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" value="tomato" name="extras" id="defaultCheck9">
  <label class="form-check-label" for="defaultCheck9" autocomplete="off">
    Tomato
  </label>
</div>
<br>
<a href= {% url 'Recipe' %} type ="Submit" value="Submit"><button>Submit</button></a>
<br>
<br>
<input type="button" value="Clear all choices" onClick="this.form.reset()" />
</form>


{% endblock content %}